<html xmlns:th="http://www.thymeleaf.org">
<div th:if="${items.getTotalElements() > 0}" style="font-size: 14px; color: #808080;">
    <th:block th:with="start = ${items.getNumber() * selectedPageSize + 1}, end = ${(items.getNumber() + 1) * selectedPageSize}, total = ${items.getTotalElements()}">
        <p>Показаны элементы <span th:text="${start}"></span> - <span th:text="${end > total} ? ${total} : ${end}"></span> из <span th:text="${total}"></span></p>
    </th:block>
</div>
<div th:if="${items.getTotalElements() > 0}" class="row">
    <input type="hidden" th:value="${baseUrl}" id="baseUrl"/>
    <div class="form-group col-md-1" th:if="${items.getTotalElements() > pageSizes[0]}">
        <select class="form-select" id="pageSizeSelect">
            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                    th:selected="${pageSize} == ${selectedPageSize}"></option>
        </select>
    </div>
    <div th:if="${items.getTotalPages() != 1}" class="form-group col-md-11 pagination-centered">
        <ul class="pagination">
            <li th:class="${items.getNumber() == 0} ? 'page-item'">
                <a class="page-link"
                   th:attr="page=${1}, pageSize=${selectedPageSize}"
                   href="#">&laquo;</a>
            </li>
            <li th:class="${items.getNumber() == 0} ? 'page-item'">
                <a class="page-link"
                   th:attr="page=${items.getNumber()}, pageSize=${selectedPageSize}"
                   href="#">&larr;</a>
            </li>
            <li th:class="${items.getNumber() == (page - 1)} ? 'page-item active'"
                th:each="page : ${#numbers.sequence(pager.getStartPage(), pager.getEndPage())}">
                <a class="page-link"
                   href="#"
                   th:text="${page}"
                   th:attr="page=${page}, pageSize=${selectedPageSize}">
                </a>
            </li>
            <li th:class="${items.getNumber() + 1 == items.getTotalPages()} ? 'page-item'">
                <a class="page-link" th:if="${items.getNumber() + 1 != items.getTotalPages()}"
                   th:attr="page=${items.getNumber() + 2}, pageSize=${selectedPageSize}"
                   href="#">&rarr;
                </a>
                <a class="page-link" th:if="${items.getNumber() + 1 == items.getTotalPages()}"
                   th:attr="page=${items.getNumber() + 1}, pageSize=${selectedPageSize}"
                   href="#">&rarr;
                </a>
            </li>
            <li th:class="${items.getNumber() + 1 == items.getTotalPages()} ? 'page-item'">
                <a class="page-link"
                   th:attr="page=${items.getTotalPages()}, pageSize=${selectedPageSize}"
                   href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
</html>